apiVersion: v1
kind: Secret
metadata:
  name: codecanon-backend-secret
type: Opaque
stringData:
  PORT: "5000"
  MONGO_URI: "YOUR_MONGO_URI"
  JWT_SECRET: "YOUR_JWT_SECRET"
  CLIENT_ORIGIN: "http://YOUR_EC2_IP.nip.io:30080"
  GOOGLE_CLIENT_ID: "YOUR_GOOGLE_CLIENT_ID"
  GOOGLE_CLIENT_SECRET: "YOUR_GOOGLE_CLIENT_SECRET"
